@import url('color.css');

h1 {
 color: green;
 text-decoration: underline;
}
p {
 font-size: 25px;
 font-family: 'Trebuchet MS', sans-serif;
}

ul{
    list-style: square;
    list-style-position: inside;
}

ol{
    list-style: lower-roman;
    list-style-position: inside;
    list-style-image: url('icon.png');
}